body,
html {
    color: #212529;
    background-color: #a7a09a;
    font-size: 14px;
}

.wrapper {
    width: 1000px;
    border: 1px solid #333333;
}

.header {
    background-image: url("../components/header/images/header_bg.jpg");
    background-color: #eeeeee;
    border-bottom: 1px solid #333333;
    width: 998px;
    height: 90px;
}

.bigger {
    font-size: 120%;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.lh-115 {
    line-height: 1.15;
}

.min-w-50 {
    min-width: 50%;
  }

.bg-ltgray {
    background-color: #dedede
}

i {
    font-style: italic;
}

a img {
    border: 0;
}

a:link {
    color: #333399;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: #333399;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #ee6611;
    text-decoration: underline;
    font-weight: normal;
}

a:active {
    color: #333399;
    text-decoration: none;
    font-weight: normal;
}

ol {
    margin-left: 16px;
    padding-left: 16px;
}

ol.cont {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

ul.cont {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

ul {
    margin-left: 16px;
    padding-left: 16px;
    list-style-type: square;
}

pre {
    font-family: courier new, monospace;
    font-size: 14px;
    font-weight: normal;
}

form input {
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
}

input.indent {
    font-size: 16px;
    font-weight: normal;
    margin: 0px 0px 0px 100px;
}

.footer {
    background-color: #eeeeee;
}

.leftnav {
    border-top: none;
    border-right: 1px solid #000000;
    border-bottom: none;
    border-left: none;
    background-color: #f6f6e6;
    padding: 0px;
    width: 200px;
    height: 100%;
    vertical-align: top;
}

.leftnav1 {
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 150%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #ddeeee;
    margin: 0px;
    letter-spacing: 2px;
    color: #333366;
    overflow: auto;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    background-color: #ffffff;
    border-bottom: 1px dotted #999999;
    padding: 5px;
    margin: 0px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
    color: #ee6611;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    color: #ce1839;
}

.w-200px {
    width: 200px;
}

.clear-right {
    clear: right;
}

/* navbar styles */

nav ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul li {
    margin: 0px 3px;
    float: left;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a {
    display: block;
    padding: 5px;
    background-color: #ffcc33;
    color: #003366;
    text-decoration: none;
}

nav ul li:hover a {
    color: #cc0000;
    background-color: #f3e3c0;
}

nav ul ul {
    display: none;
    border: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    margin: 0px;
    float: none;
    position: relative;
    border-top: 1px solid #cccccc;
}

nav ul ul li a {
    padding: 10px;
    font-size: 14px;
    background-color: #ffcc33;
    color: #003366;
    text-align: left;
    white-space: nowrap;
}

nav ul ul li a:hover {
    background-color: #ffcc33;
    color: #003366;
}

table.schedule {
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

table.roster {
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 950px;
}

td.no_borderc {
    border-width: 0px;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
}